@model School.Models.UserForgotPassword

@{
    ViewData["Title"] = "UserForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Şifre Yenileme</h3>
<hr />
<div class="row">
    <div class="col-md-4 ml-5">
        <p class="text-dark mb-5">Parolanızı yenilemek için mail atınız!</p>
        @if (ViewBag.MessageError != null)
        {
            <span class="alert alert-danger" role="alert">
                @ViewBag.MessageError
            </span>
        }
        <form asp-action="UserForgotPassword">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserForgotEmail" class="control-label"></label>
                <input asp-for="UserForgotEmail"type="email" class="form-control" required />
                <span asp-validation-for="UserForgotEmail" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="RegisterResetCode" class="control-label"></label>
                <input asp-for="RegisterResetCode" class="form-control" />
                <span asp-validation-for="RegisterResetCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewRegisterPassword" class="control-label"></label>
                <input asp-for="NewRegisterPassword" class="form-control" />
                <span asp-validation-for="NewRegisterPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewRegisterPassword2" class="control-label"></label>
                <input asp-for="NewRegisterPassword2" class="form-control" />
                <span asp-validation-for="NewRegisterPassword2" class="text-danger"></span>
            </div> *@
            <div class="form-group mb-5">
                <input type="submit" value="Mail Gönder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
